.body-style {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1059px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;

    color: white;
}


.header-style {
    position: relative;
    margin-bottom: 48px;
}


.logo {
    display: inline-block;
}


.logo:hover {
    color: #f26522;
}


.logo-link {
    color: inherit;
    text-decoration: none;
}


.logo-img {
    display: inline-block;
    width: 46px;
    height: 44px;
    background: url(/img/logo-sprite.png) -10px -10px;
}


.logo-img:hover {
    display: inline-block;
    width: 46px;
    height: 44px;
    background: url(/img/logo-sprite.png) -76px -10px;
}


.logo-name {
    display: inline-block;

    font-family: 'Verdana', sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}


.logo-name-part2 {
    margin-top: 9px;
    font-size: 18px;
}


.contacts {
    position: absolute;
    right: 0;
    display: inline-block;

    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.product {
    display: inline-block;
    margin-right: 65px;
    margin-bottom: 58px;
    width: 307px;
}

.product:hover {
    color: #f26522;
}

.product:nth-child(3n) {
    margin-right: 0;
}


.product-info-box {
    /*    background-image: url(../img/product-1.jpg);*/
    height: 200px;
    position: relative;
}


.product-name {
    padding-top: 20px;

    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
}

.product-link {
    color: inherit;
    text-decoration: none;
}

.product-price-text {
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.price-sum {
    display: inline-block;
    margin-top: 7px;

    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

.product-details-text {
    display: inline-block;
    float: right;

    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.details-arrow {
    margin-left: 15px;
}


.footer-style {
    margin-top: 3px;
    text-align: center;
}


.product-img-text {
    height: 63px;
    width: 268px;
    position: absolute;
    bottom: 0;

    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 18px;

    background-color: #f26522;
    color: white;
    opacity: 0;
}


.product-img-text:hover {
    opacity: 1;
/*        transition: <property> <duration> <timing-function> <delay>;*/
}
