body {
    margin: 0;
    padding: 0;
}

.header {
    width: 1280px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

.menu-top {
    text-align: center;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 35px;
}

.menu-top-link {
    font-family: Roboto;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 65px;
}

.back-photo {
    background-image: url(../img/top-img.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1280px;
    padding-top: 790px;
}

.section-grey {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f6f7;
    padding-top: 59px;
    padding-bottom: 94px;
}

.section-title {
    font-family: Roboto;
    color: #373737;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
    letter-spacing: 3px;
}

.section-description {
    font-family: Roboto;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 110px;
    margin-right: 110px;
}

.button-start {
    font-family: Roboto;
    background-color: #16a085;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 3px;
    width: 192px;
    height: 51px;
}

.footer {
    width: 1280px;
    margin: 0 auto;
    background-color: white;
    margin-top: 47px;

}

.footnote {
    font-family: Roboto;
    color: black;
    font-style: 16px;
    text-align: right;
    margin-bottom: 45px;
    margin-right: 104px;
    letter-spacing: 3px;

}
