.container {
    width: 1280px;
    margin: 0 auto;
}

.content-img-box {
    margin-bottom: 20px;
    height: 529px;
    border: 1px solid black;
    text-align: center;
}

.content-picture {
    margin-top: 75px;
    margin-bottom: 73px;
}

.content-picture:hover {
    transform: scale(1.1);
}

.content {
    position: relative;
    padding-top: 51px;
}

.content-leftcolumn-leftmenu {
    float: left;
    width: 344px;
    border: 1px solid black;
}

.content-description {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'PT Sans', sans-serif;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
}

.copyright {
    position: absolute;
    right: 34px;
    display: inline-block;


    font-family: 'PT Sans', sans-serif;
    color: #0c1927;
    font-size: 24px;
    line-height: 70px;
    text-decoration: none;
}

.footer {
    clear: both;
    position: relative;
    height: 69px;
    padding: 22px 44px;
    background-color: #b5b8bb;
}

.topmenu {
    height: 69px;
    text-align: center;
    background-color: #35444f;
}

.company-name {
    display: inline-block;
    margin-top: 61px;
    margin-bottom: 45px;
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-size: 80px;
    text-decoration: none;
}

.leftmenu-link {
    display: block;
    height: 81px;
    padding-left: 44px;

    font-family: 'PT Sans', sans-serif;
    color: #485863;
    font-size: 26.99px;
    line-height: 88.867px;
    transform: scaleY(1.0003);
    text-decoration: none;
}

.leftmenu-link:hover {
    background-color: #dcdcdc;
    color: #000000;
    padding-left: 68px;
}

.blue-text {
    color: #4bcaff;
}

.topmenu-btn {
    display: inline-block;
    padding: 23px 41px;

    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}


.topmenu-btn:hover {
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;
}

.footer-menu-link {
    display: inline-block;
    margin-right: 21px;

    font-family: 'PT Sans', sans-serif;
    color: #0c1927;
    font-size: 28px;
    line-height: 70px;
    text-decoration: none;

}

.footer-menu-link:hover {
    color: #3181a6;
    text-decoration: underline;
}

.content-right-column {
    float: right;
    width: 885px;
    padding-bottom: 51px;
}
